<h1>Users#edit</h1>

<%= form_with model: @user do |f |%>

<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>

<p><%= f.label :profile_image %></p>
<p><%= f.attachment_field :profile_image %></p>

<p><%= f.label :profile %></p>
<p><%= f.text_area :profile %></p>

<p><%= f.submit %></p>

<% end %>
