<%= form_with model: book, local: true do |form| %>

<p><%= form.label :title %><br>
<%= form.text_field :title %> #titleの入力フォーム生成
</p>

<p><%= form.label :body %><br>
<%= form.text_area :body %> #bodyの入力フォーム生成
</p>

<p><%= form.submit %> 送信ボタンを生成
</p>

<% end %>